@font-face { font-family: 'Rubik'; font-style: normal; font-weight: 500; src: url('../fonts/rubik-v8-latin-500.eot'); src: local('Rubik Medium'), local('Rubik-Medium'), url('../fonts/rubik-v8-latin-500.eot?#iefix') format('embedded-opentype'), url('../fonts/rubik-v8-latin-500.woff2') format('woff2'), url('../fonts/rubik-v8-latin-500.woff') format('woff'), url('../fonts/rubik-v8-latin-500.ttf') format('truetype'), url('../fonts/rubik-v8-latin-500.svg#Rubik') format('svg'); }

body {font-family: Rubik;}

.bgcolor{
    background-color: #3C3B6E;
}